In [35]:
import pandas as pd
velo_data = pd.read_csv("C:\IDE\SkillFactory\PY_11_ Базовые приёмы работы с данными в Pandas\citibike-tripdata.csv", sep=',')

In [36]:
bike_df=velo_data.copy()

In [77]:
bike_df.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

Найдем число пустых значений

In [37]:
bike_df.describe()

,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,299831.000000,300000.000000,300000.000000,299831.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,1695.665665,40.737769,-73.982042,1684.624298,40.737294,-73.982330,26688.525943,1979.364803,1.108647
std,1458.264055,0.031999,0.020207,1457.549589,0.031794,0.020261,6271.691143,11.920796,0.613398
min,72.000000,40.655400,-74.025353,72.000000,40.655400,-74.083639,14529.000000,1885.000000,0.000000
25%,387.000000,40.716226,-73.995991,387.000000,40.716059,-73.996621,20569.000000,1969.000000,1.000000
50%,519.000000,40.737262,-73.985162,519.000000,40.737050,-73.985649,28197.000000,1982.000000,1.000000
75%,3282.000000,40.760683,-73.970416,3282.000000,40.760094,-73.971092,32216.000000,1989.000000,1.000000
max,3705.000000,40.869000,-73.878000,3705.000000,40.869000,-73.878000,34863.000000,2002.000000,2.000000

In [38]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [39]:
display(300000-(sum(bike_df['start station id'].value_counts())))

169

Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

In [68]:
print(bike_df['start station id'].mode()[0])

281.0

Велосипед с каким идентификатором является самым популярным?

In [69]:
print(bike_df['bikeid'].mode()[0])

33887

Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.

In [71]:
bike_df['usertype'].mode()

0    Subscriber
Name: usertype, dtype: object

In [70]:
sum(bike_df['usertype'].value_counts())

300000

In [75]:
sum(bike_df[bike_df['usertype'] == 'Subscriber'].value_counts())/300000

0.7737333333333334

Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [97]:
display(bike_df['gender'].mode()[0])
sum(bike_df[bike_df['gender'] == 1].value_counts())

1

183475

In [93]:
male_count = bike_df[bike_df['gender'] == 1].shape[0]
female_count = bike_df[bike_df['gender'] == 0].shape[0]
print(male_count)

183582

In [105]:
bike_df.gender.value_counts()
bike_df[bike_df['gender'] == 1].value_counts()

starttime                 stoptime                  start station id  start station name                   start station latitude  start station longitude  end station id  end station name           end station latitude  end station longitude  bikeid  usertype    birth year  gender
2018-09-01 00:00:05.2690  2018-09-01 00:27:20.6340  252.0             MacDougal St & Washington Sq         40.732264               -73.998522               366.0           Clinton Ave & Myrtle Ave   40.693261             -73.968896             25577   Subscriber  1980        1         1
2018-09-04 17:14:49.5080  2018-09-04 17:43:25.4060  427.0             Bus Slip & State St                  40.701907               -74.013942               3236.0          W 42 St & Dyer Ave         40.758985             -73.993800             21531   Subscriber  1960        1         1
2018-09-04 17:14:26.4040  2018-09-04 17:25:17.8830  239.0             Willoughby St & Fleet St             40.691966               -73.981302               244.0           Willoughby Ave & Hall St   40.691960             -73.965369             19033   Subscriber  1979        1         1
2018-09-04 17:14:28.0920  2018-09-04 17:20:22.1430  3641.0            Broadway & W 25 St                   40.742869               -73.989186               498.0           Broadway & W 32 St         40.748549             -73.988084             16935   Subscriber  1989        1         1
2018-09-04 17:14:28.5030  2018-09-04 17:23:07.8450  523.0             W 38 St & 8 Ave                      40.754666               -73.991382               3687.0          E 33 St & 1 Ave            40.743227             -73.974498             31673   Subscriber  1964        1         1
                                                                                                                                                                                                                                                                                             ..
2018-09-02 22:00:29.3380  2018-09-02 22:19:55.6440  3400.0            E 110 St & Madison Ave               40.796154               -73.947821               3307.0          West End Ave & W 94 St     40.794165             -73.974124             26869   Subscriber  1950        1         1
2018-09-02 22:00:29.5810  2018-09-02 22:29:50.2020  3349.0            Grand Army Plaza & Plaza St West     40.672968               -73.970880               3354.0          3 St & Prospect Park West  40.668132             -73.973638             30176   Subscriber  1981        1         1
2018-09-02 22:00:33.4320  2018-09-02 22:26:00.1000  514.0             12 Ave & W 40 St                     40.760875               -74.002777               3233.0          E 48 St & 5 Ave            40.757246             -73.978059             18507   Customer    1968        1         1
2018-09-02 22:00:34.0060  2018-09-02 22:15:09.2760  3511.0            Adam Clayton Powell Blvd & W 115 St  40.802535               -73.953242               3351.0          E 102 St & 1 Ave           40.786995             -73.941648             30604   Subscriber  1997        1         1
2018-09-05 19:08:29.7110  2018-09-05 19:12:14.7620  3496.0            1 Ave & E 110 St                     40.792327               -73.938300               3502.0          Lexington Ave & E 111 St   40.795412             -73.944123             18292   Subscriber  1966        1         1
Name: count, Length: 183475, dtype: int64

In [104]:
bike_df['birth year'].value_counts()

birth year
1969    43959
1988    12551
1990    12051
1989    11704
1991    11640
        ...
1889        1
1915        1
1936        1
1909        1
1907        1
Name: count, Length: 91, dtype: int64